.header-main {
    width: 100%;
    height: 90px;
    background-image: url(images/eecb2aa14467a864943e80aec05712e9[224].jpg);
}

.header-main ul {
    list-style: none;
    margin-left: 30px;
}

.header-main ul li a {
    padding: 0 10px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
}

.header-main ul li a:hover {
    color: aqua;
}

.header-main ul li {
    display: inline;
    float: left;
    margin-right: 20px;
}

a {
    cursor: pointer;
    color: gold;
}

h1 {
    font-size: 26px;
    line-height: 32px;
    color: gold;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    
}

p1 {
    font-size: medium;
    line-height: normal;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;

}

p {
    font-size: 14px;
    line-height: 18px;
    color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagejb {
    width: 700px;
}

.imgt {
     margin-left: 500px;
     width: 300px;
    
    
}

h2 {
    font-size: 26px;
    line-height: 32px;
    color: gold;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: midnightblue;
}

footer {
    color: purple;
    background-color: black;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    color: gold;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-image: url(images/eecb2aa14467a864943e80aec05712e9[224].jpg);
    
}

.imgm {
    margin-bottom: 2000px;
    width: 700px;
}



h4 {
    font-size: 26px;
    line-height: 32px;
    color: aqua;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-image: url(images/eecb2aa14467a864943e80aec05712e9[224].jpg);
}

h5 {
    font-size: 26px;
    line-height: 32px;
    color: aqua;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-image: url(images/eecb2aa14467a864943e80aec05712e9[224].jpg);
}

h6 {
    font-size: 26px;
    line-height: 32px;
    color: aqua;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-image: url(images/eecb2aa14467a864943e80aec05712e9[224].jpg);
}